@model Modelo.Cadastros.Produto
<div class="form-horizontal">
    @Html.ValidationSummary(true, "Verifique os seguintes erros", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Preço, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Preço, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Preço, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataCadastro, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.DataCadastro, new{htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CategoriaId, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FabricanteId, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DropDownList("FabricanteId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FabricanteId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lançamento, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Lançamento, "Sim", new { @name = "lançamento" })
                Sim
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Lançamento, "Não", new { @name = "lançamento" })
                Não
            </label>

            @Html.ValidationMessageFor(model => model.Lançamento, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
