@model Modelo.Cadastros.Produto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando os dados de um PRODUTO";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes de um PRODUTO
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Produtos/_PartialDetailsContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.ProdutoId },
        new { @class = "btn btn-info" })
        @Html.ActionLink("Retornar para a listagem", "Index", null,
        new { @class = "btn btn-info" })
    </div>
</div>
@section ScriptPage{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" )"></script>
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
            $('.table').dataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "search": "Procurar:",
                    "next": "Próximo",
                    "previous": "Anterior",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)"
                },
                "order": [[1, "asc"]]
            });
        });
    </script>
}